modules = ["nodejs-20", "web", "nix"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
build = ["sh", "-c", "npm install --include=dev && npm run db:push && npm run build"]
run = ["node", "./dist/index.cjs"]
